<div class="container">
  <div class="row">

    <div class="col-md-3">
      <h1>User info</h1>
      <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
      　　 <% if user.id == current_user.id %>
        <p><%= link_to "プロフィール編集", edit_user_path(user), class: "pull-right" %></p>
    <% end %>

      <table>
        <tr>
          <th>Name</th>
          <td><%= user.name %></td>
        </tr>
        <tr>
          <th>Intoroduction</th>

          <td><%= user.introduction %></td>
        </tr>
      </table>
      <% if user.id == current_user.id %>
      <%= link_to"編集", edit_user_path(current_user) %>
      <% else %>
      <%= link_to user_path(current_user) %>
      <% end %>

      <h1>New book</h1>
      <%= form_for (book ) do |f| %>
        <% if book.errors.any? %>
          <div id="error_explanation">
            <h2><%= book.errors.count %>件のエラーが発生しました。</h2>
            <ul>
            <% post_image.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="title">Title<br>
           <%= f.text_field :title %>
        </div>
        <div class="body>">Opinion<br>
           <%= f.text_field :body %>
        </div>
        <%= f.submit "Create Book" %>
      <% end %>
    </div>